* {/*setting all to fall under sedan font*/
    font-family: "Sedan", serif; 
    box-sizing: border-box;
}
@keyframes mymove { /*setting how color will be exchanging*/
    from{
        background-color: rgba(138, 43, 226, 0.5);
    }
    to{
        background-color: rgba(165, 42, 42, 0.5);
    }
}

body{/*calling the animation of color of my body*/
    animation: mymove 5s linear infinite;
}

.navClass {/*putting color & ajustment on the navigation bar*/
    background-color: blanchedalmond;
    padding-right: auto; 
    padding-left: auto;
    margin: auto;
}
.mainDiv {
    display: flex;/*putting my div & ul on the same line horizontally*/ 
    align-items: center;/* centering*/
    justify-content: space-between;/*create space*/
    padding-right: auto; 
    padding-left: auto;
    margin: auto;
}
.logo {/*color style*/
    font-size: 25px; 
    font-weight: 600px;
    color:darkorange;
}
.hacclass {
    display: flex;
    padding-right: auto; 
    padding-left: auto;
    margin: auto;
}
#homeid{
    margin-left: 50%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
}
#about_usid{
    
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
}
#contact_usid{
    margin-top: 25%;
    margin-bottom: 25%;
}
#tdeco{
    font-size: 25px; 
    font-weight: 600px;
    text-decoration: none;
}
.vidcol {/*putting a color behind the video*/
    overflow: hidden;
    background-color: rgba(255, 99, 71, 0.3);
}
video{/*ajusting the video size*/
    width: 100%;
    height: 300px;
}
.bioandpic{
    display: flex;
}
#mybioh{
    margin-left: 8%;
}
#mypich{
    margin-left: 25%;
}
#sosha{
    margin-left: 8%;
    margin-right: 8%;
}
#Channelh{
    margin-left: 8%;
    margin-right: 8%;
}
#rheahilec{
    font-size: 18px;
    text-decoration: none;
}
#maph{
    margin-left: 8%;
    margin-right: 8%;
}
#mypich {
    width : 150px; 
    height: 150px; 
    border-radius: 50%; /*creation of the circle*/
    overflow: hidden;
}
#imgid {
    width :100%; 
    height:auto; 
    display:block;
}
.address {
    display: flex;
    margin: auto;
}
#tdlink {
    padding-left: 50px;
    padding-right: 50px;
}
#resizelinks {
    font-size : 50px;     
}
.footerpage {/*calling the animation of the colors on the footer*/
    background-color: blanchedalmond;
    margin: 0%;
    animation: footmove 5s linear infinite;
}
@keyframes footmove {/*setting the exchange of colors on the footer*/
    from{
        background-color: rgba(245, 245, 245, 0.5);
    }
    to{
        background-color: rgba(32, 178, 170, 0.5);
    }
}

/*for madium devices*/
@media only screen and (min-width:601px) and (max-width:1024px) {
    .navClass {/*putting color & ajustment on the navigation bar*/
        background-color: blanchedalmond;
        padding-right: auto; 
        padding-left: auto;
        margin: 0%;
    }
    .mainDiv {
        display: flex;/*putting my div & ul on the same line horizontally*/ 
        align-items: center; /*centering*/
        justify-content: space-between;/*create space*/
    }
    .logo {/*color style*/
        font-size: 20px; 
        font-weight: 100px;
        color:darkorange;
    }
    .ulClass { 
        list-style: none; /*removing the dots of ul*/
        
        font-weight: bold; 
    }
    #idli {
        display: inline-block;/*putting list items on same line*/
        padding-right: auto;
        font: size 5px; 
    }
    .vidcol {/*putting a color behind the video*/
        overflow: hidden;
        background-color: rgba(255, 99, 71, 0.5);
    }
    video{/*ajusting the video size*/
        width: 100%;
        height: 300px;
    }
    body{/*calling the animation of color of my body*/
        animation: mymove 5s linear infinite;
    }
    @keyframes mymove { /*setting how color will be exchanging*/
        from{
            background-color: rgba(138, 43, 226, 0.5);
        }
        to{
            background-color: rgba(165, 42, 42, 0.5);
        }
    }
    #tdid {
        width : 150px; 
        height: 150px; 
        border-radius: 50%; /*creation of the circle*/
        overflow: hidden;
    }
    #imgid {
        width :100%; 
        height:auto; 
        display:block;
    }
    #pushimg {
        padding-left: 400px;
    }
    .tcontent {
        tab-size: auto;
    }
    .address {
        font-size : 30px;
        margin: auto;
    }
    #addressspace {
        padding-left: 15px;
        padding-right: 350px;
    }
    #tdlink {
        padding-left: 50px;
        padding-right: 50px;
    }
    #resizelinks {
        font-size : 50px;     
    }
    .footerpage {/*calling the animation of the colors on the footer*/
        background-color: blanchedalmond;
        margin: 0%;
        animation: footmove 5s linear infinite;
    }
    @keyframes footmove {/*setting the exchange of colors on the footer*/
        from{
            background-color: rgba(245, 245, 245, 0.5);
        }
        to{
            background-color: rgba(32, 178, 170, 0.5);
        }
    }
    
}
